<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>tailoredproductspricing</name>
    <displayName><![CDATA[Tailored Products Pricing]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Let customers define custom dimensions (width × height) for each product — price is calculated automatically.]]></description>
    <author><![CDATA[Alban González]]></author>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
